/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    overflow: hidden;
}

body {
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    height: 120px;
}


#img {
    display: inline-block;
    margin-top: -20px;
 }

 #deviceready {
    float: right;
    display: inline-block;
    margin: 25px 25px 0px 0px;
    color:white;
    font-family: 'Press Start 2P', cursive;
    display:inline-block;
    text-shadow:1px 1px black;
 }
 #deviceready ul{
    list-style-type: none;
    margin-top: -154px;
    margin-left: -2px;
    display:inline-block;
    position:absolute;
    font-size: 6.5px;
    z-index: 100;

 }
 #deviceready li{
    padding:11px;
    text-align: center;
 }

 #deviceready img{
    position: relative;
 }
 #pp{
    margin-top: -465px;
    background-color:#162CA8;
    border:9px solid #9C5521;
    width:200px;
    height:250px;
    margin-left: 250px;
    font-family: 'Press Start 2P', cursive;
 }
 #pp h2{
    color:white;
    text-align: center;
     text-shadow: 2px 2px black;
 }
 #pp ul {
    list-style: none;
    padding-top: 20px;
 }
 #pp li {

    color:white;
    text-align: center;
    border:3px solid #162CA8;
    width:120px;
    height:30px;
    background-color: #9C5521;
    padding-top: 15px;
 }
 .navi {
    text-align: center;
    background-color: #1469df;
    border-radius: 3px;
    width: 140px;
    height: 40px;
    color: white;
    margin-right: 30px;
 }

 .navi p {
    padding-top: 7px;
    font-size: 150%;
 }


h1 {
    font-size:24px;
    font-weight:normal;
    margin:0 auto;
    overflow:visible;
    padding:0px;
    text-align:center;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#box2d-demo {
    margin-left: 0px;
}
